<div class="ui" ng-controller="CenterUrlHashController">
    <openlayers ol-center="london" height="400"></openlayers>
    <h2 class="ui header">Center Url Hash map example</h2>
    <div class="ui form">
        <div class="three fields">
            <div class="field">
                <label>Latitude</label>
                <input type="number" step="any" ng-model="london.lat" />
            </div>
            <div class="field">
                <label>Longitude</label>
                <input type="number" step="any" ng-model="london.lon" />
            </div>
            <div class="field">
                <label>Zoom</label>
                <input type="number" step="any" ng-model="london.zoom" />
            </div>
        </div>
        <div class="ui 4 fluid buttons">
            <a class="ui button" href="#/center-url-hash?c=36.8899:-121.8008:12">Watsonville</a>
            <a class="ui button" href="#/center-url-hash?c=34.0078:-118.8060:14">Malibu</a>
            <a class="ui button" href="#/center-url-hash?c=33.7717:-117.9458:12">Garden Grove</a>
            <a class="ui button" href="#/center-url-hash?c=32.5290:-117.0442:13">Tijuana</a>
        </div>

        <p>We can interact with the map with the <strong>center</strong> object, which allows us to set the specific position where the map shoduld point, in a bi-directional way. Take a look at the <strong>center object property</strong> of this map to know how this works:</p>
        <pre>{{ london | json }}</pre>
        <p><a href="view-source:http://tombatossals.github.io/angular-openlayers-directive/examples/020-center-example.html">View stand-alone source code</a></p>
    </div>
</div>
