<div class="ui" ng-controller="CenterController">
    <openlayers ol-center="london" height="400"></openlayers>
    <h2 class="ui header">Center map example</h2>
    <div class="ui form">
        <div class="three fields">
            <div class="field">
                <label>Latitude</label>
                <input type="number" step="any" ng-model="london.lat" />
            </div>
            <div class="field">
                <label>Longitude</label>
                <input type="number" step="any" ng-model="london.lon" />
            </div>
            <div class="field">
                <label>Zoom</label>
                <input type="number" step="any" ng-model="london.zoom" />
            </div>
        </div>
        <p>We can interact with the map with the <strong>center</strong> object, which allows us to set the specific position where the map shoduld point, in a bi-directional way. Take a look at the <strong>center object property</strong> of this map to know how this works:</p>
        <pre>{{ london | json }}</pre>
        <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
    </div>
</div>
