<div class="ui" ng-controller="ControlController">
    <openlayers ol-center="center" ol-controls="controls" ol-view="view"></openlayers>
    <h2 class="ui header">Controls Example</h2>
    <p>Maybe you need to change the default parameters before creating the map, for example, setting the default controls, interactions, or layer tiles.</p>
    <h3>Map <strong>controls</strong> object:</h3>
    <pre>{{ controls | json }}</pre>
    <h3>Source code of this example</h3>
    <pre class="language-markup"><code ng-bind="activeExample.source"></code></pre>
    <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
</div>
