<div class="ui" ng-controller="CustomController">
    <openlayers ol-center="london" ol-defaults="defaults" height="400"></openlayers>
    <h2 class="ui header">Custom Parameters Example</h2>
    <p>Maybe you need to change the default parameters before creating the map, for example, setting the default controls, interactions, or layer tiles.</p>
    <h3>Map <strong>defaults</strong> object:</h3>
    <pre>{{ defaults | json }}</pre>
    <p><a ng-href="{{ getExample().extUrl }}">View stand-alone example</a></p>
</div>
