<div class="ui" ng-controller="EventVectorLayerController">
    <openlayers ol-center="center" custom-layers="true" ol-defaults="defaults" height="400">
        <ol-layer name="mapbox" ol-layer-properties="mapbox"></ol-layer>
        <ol-layer name="geojson" ol-layer-properties="geojson"></ol-layer>
    </openlayers>
    <h2 class="ui header">Event propagation of a GeojJSON object Example</h2>
    <p>You can propagate layer events, like a vector layer, with the feature selected by the user in the event.</p>
    <h3>Mouse over this country: {{ mouseMoveCountry }}</h3>
    <h3>Mouse click on this country: {{ mouseClickCountry }}</h3>
    <h3>Source code of this example</h3>
    <pre class="language-markup"><code ng-bind="activeExample.source"></code></pre>
    <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
</div>
