<div class="ui" ng-controller="LayerGeoJSONCenterController">
    <openlayers ol-center="japan" ol-layers="layers" height="400px"></openlayers>
    <h2 class="ui header">GeoJSON Center example</h2>
    <p>You can center the map relative to the extension of the JSON, like you can see in this example.</p>
    <button class="ui button large blue" ng-click="centerJSON()">Center to Japan</button>
    <h3>Current <strong>layers</strong> object:</h3>
    <pre>{{ layers | json }}</pre>
    <h3>Source code of this example</h3>
    <pre class="language-markup"><code ng-bind="activeExample.source"></code></pre>
    <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
</div>
