<div class="ui" ng-controller="LayerBingMapsController">
    <openlayers ol-center="quebec" custom-layers="true" height="400px">
        <ol-layer ol-layer-properties="bing"></ol-layer>
    </openlayers>
    <br />
    <div class="3 ui fluid buttons">
        <div class="ui button" ng-repeat="imagerySet in [ 'Road', 'Aerial', 'AerialWithLabels' ]" ng-click="bing.source.imagerySet=imagerySet" ng-class="{ active: bing.source.imagerySet === imagerySet }" ng-bind="imagerySet"></div>
    </div>
    <h2 class="ui header">Bing Maps example</h2>
    <p>You can use easily the Microsoft Bing Maps tiles with OpenLayers. But first of all, you must request an API key to use these maps <a href="http://www.bingmapsportal.com">here</a>.</p>
    <h3>Current <strong>layers</strong> object:</h3>
    <pre>{{ bing | json }}</pre>
    <h3>Source code of this example</h3>
    <pre class="language-markup"><code ng-bind="activeExample.source"></code></pre>
    <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
</div>
