<div class="ui" ng-controller="LayerHeatmapController">
    <openlayers ol-center="center" height="400px">
        <ol-layer ol-layer-properties="heatmap"></ol-layer>
    </openlayers>
    <h2 class="ui header">Layer KML Heatmap example</h2>
    <p>You can load an render a HeatMap in KML format with Openlayers.</p>
    <h3>Current <strong>heatmap layer</strong> object:</h3>
    <pre>{{ heatmap | json }}</pre>
    <h3>Source code of this example</h3>
    <pre class="language-markup"><code ng-bind="activeExample.source"></code></pre>
    <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
</div>
