<div class="ui" ng-controller="LayerGeoJSONInlineController">
    <openlayers ol-center="europe" ol-layers="layers" ol-defaults="defaults" height="400px"></openlayers>
    <h2 class="ui header">GeoJSON Inline example</h2>
    <p>This example adds the GeoJSON structure inline inside the layer object, instead of loading the GeoJSON from OpenLayers library.</p>
    <h3>Current <strong>layers</strong> object:</h3>
    <pre>{{ layers | json }}</pre>
    <p><a ng-href="{{ getExample().extUrl }}">View stand-alone example</a></p>
</div>
