<div class="ui" ng-controller="LayerMapQuestController">
    <openlayers ol-center="quebec" ol-layers="layers" height="400px"></openlayers>
    <br />
    <div class="3 ui fluid buttons">
        <div class="ui button" ng-repeat="layer in [ 'sat', 'osm', 'hyb' ]" ng-click="layers.main.source.layer=layer" ng-class="{ active: layers.main.source.layer === layer }" ng-bind="layer"></div>
    </div>
    <h2 class="ui header">MapQuest Layer example</h2>
    <p>You can use easily use the MapQuest Maps with OpenLayers too.</p>
    <h3>Current <strong>layers</strong> object:</h3>
    <pre>{{ layers | json }}</pre>
    <h3>Source code of this example</h3>
    <pre class="language-markup"><code ng-bind="activeExample.source"></code></pre>
    <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
</div>
