<div class="ui" ng-controller="LayerStaticImageController">
    <openlayers ol-center="center" custom-layers="true" ol-defaults="defaults" height="400px">
        <ol-layer ol-layer-properties="static"></ol-layer>
    </openlayers>
    <h2 class="ui header">Static Image Layer example</h2>
    <p>You can add an static image inside a layer and use OpenLayers to pan/zoom.</p>
    <h3>Current <strong>layers</strong> object:</h3>
    <pre>{{ static | json }}</pre>
    <h3>Source code of this example</h3>
    <pre class="language-markup"><code ng-bind="activeExample.source"></code></pre>
    <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
</div>
