<div class="ui" ng-controller="LayerBingMapsController">
    <openlayers ol-center="quebec" ol-layers="layers" height="400px"></openlayers>
    <br />
    <div class="3 ui fluid buttons">
        <div class="ui button" ng-repeat="imagerySet in [ 'Road', 'Aerial', 'AerialWithLabels' ]" ng-click="layers.main.source.imagerySet=imagerySet" ng-class="{ active: layers.main.source.imagerySet === imagerySet }" ng-bind="imagerySet"></div>
    </div>
    <h2 class="ui header">Bing Maps example</h2>
    <p>You can use easily the Microsoft Bing Maps tiles with OpenLayers. But first of all, you must request an API key to use these maps <a href="http://www.bingmapsportal.com">here</a>.</p>
    <h3>Current <strong>layers</strong> object:</h3>
    <pre>{{ layers | json }}</pre>
    <p><a href="view-source:http://tombatossals.github.io/angular-openlayers-directive/examples/043-layers-bing-maps-example.html">View stand-alone source code</a></p>
</div>
