<div class="ui" ng-controller="LayerController">
    <openlayers ol-center="london" ol-layers="layers" height="400px"></openlayers>
    <h2 class="ui header">Layers change tiles example</h2>
    <p>In this map you can change the main active layer pressing the buttons below. Try it.</p>

    <div class="4 ui fluid buttons">
        <div class="ui button" ng-class="{ active: layers.main.source === source }" ng-repeat="(key, source) in sources" ng-click="layers.main.source=source" ng-bind="source.name"></div>
    </div>
    <br />
    <p>On each button click we're simply setting the <strong>layers</strong> object to a new value.</p>
    <h3>Current <strong>layers</strong> object:</h3>
    <pre>{{ layers | json }}</pre>
    <p><a ng-href="{{ getExample().extUrl }}">View stand-alone source code</a></p>
</div>
