<div class="ui">
    <openlayers lat="-33.86" lon="151.20" zoom="9" height="400" custom-layers="true">
        <ol-layer source-type="TileJSON" source-url="https://api.tiles.mapbox.com/v3/examples.map-i86nkdio.jsonp"></ol-layer>
    </openlayers>
    <h2 class="ui header">Custom layer with no javascript Example</h2>
    <p>We can center the map and set a custom layer using almost no javascript code. Only loading our <strong>AngularJS</strong> application.</p>
    <h3>Source code of this example</h3>
    <pre class="language-markup"><code ng-bind="activeExample.source"></code></pre>
    <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
</div>
