<div class="ui" ng-controller="MarkerStaticLayerController">
    <openlayers ol-center="center" ol-defaults="defaults" height="400px">
        <ol-marker name="Istanbul"  lat="41.01" lon="28.96" message="Here is Istanbul. Oh my god, such a great city!"></ol-marker>
    </openlayers>
    <h2 class="ui header">Marker with Label Example</h2>
    <p>Adding a label to our markers is done via a <strong>ol-marker</strong> propety: "<strong>message</strong>". Take a look at the stand-alone source code to see it.</p>
    <p><a ng-href="{{ getExample().extUrl }}">View stand-alone example</a></p>
</div>
