<div class="ui">
    <openlayers lat="39.92" lon="116.38" zoom="10" height="400" custom-layers="true">
        <ol-layer source-type="TileJSON" source-url="https://api.tiles.mapbox.com/v3/examples.map-i86nkdio.jsonp"></ol-layer>
        <ol-marker lat="39.92" lon="116.38" message="Here is Beijing. Dreamful place."></ol-marker>
    </openlayers>
    <h2 class="ui header">Markers and custom layer with no javascript Example</h2>
    <p>We can center the map, set a custom layer and show a marker with a message using almost no javascript code. Only loading our <strong>AngularJS</strong> application.</p>
    <h3>Source code of this example</h3>
    <pre class="language-markup"><code ng-bind="activeExample.source"></code></pre>
    <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
</div>
