<div class="ui" ng-controller="MarkerAddRemoveController">
    <openlayers ol-center="center" height="400px">
        <ol-marker ng-repeat="marker in markers | filter: {active: true}" lat="marker.lat" lon="marker.lon"></ol-marker>
    </openlayers>
    <br />
    <div class="3 ui fluid buttons">
        <div class="ui button" ng-class="{ active: marker.active === true }" ng-repeat="marker in markers" ng-click="marker.active=!marker.active" ng-bind="marker.name"></div>
    </div>
    <h2 class="ui header">Markers Interact Example</h2>
    <p>Adding and interacting with markers inside our OpenLayer maps is really easy. Take a look at the stand-alone source code.</p>
    <p><a ng-href="{{ getExample().extUrl }}">View stand-alone example</a></p>
</div>
