<div class="ui" ng-controller="MultipleMapController">
    <openlayers id="map1" ol-defaults="defaults" ol-center="center" width="100%" height="240px">
        <ol-layer ol-layer-properties="geojson1"></ol-layer>
        <ol-marker ng-repeat="marker in markers1" ol-marker-properties="marker"></ol-marker>
    </openlayers>
    <br />
    <openlayers id="map2" ol-defaults="defaults" ol-center="center" width="100%" height="240px">
        <ol-layer ol-layer-properties="geojson2"></ol-layer>
        <ol-marker ng-repeat="marker in markers2" ol-marker-properties="marker"></ol-marker>
    </openlayers>
    <h2 class="ui header">Multiple Maps Example</h2>
    <p>We can render two (or more) maps in screen, each one with its own properties, and make them interact making use of AngularJS.</p>
    <h3>Source code of this example</h3>
    <pre class="language-markup"><code ng-bind="activeExample.source"></code></pre>
    <p><a ng-href="{{ activeExample.extUrl }}">View stand-alone example</a></p>
</div>
