sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - iojs
before_install:
  - npm i -g npm@^2.0.0
  - npm install -g grunt-cli
  - npm install -g bower
  - npm install
  - bower install
before_script:
  - npm prune
after_success:
  - npm run semantic-release
