<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/openlayers3/build/ol.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../dist/angular-openlayers-directive.js"></script>
    <link rel="stylesheet" href="../bower_components/openlayers3/build/ol.css" />
    <script>
        var app = angular.module('demoapp', ['openlayers-directive']);
        app.controller('DemoController', [ '$scope', function($scope) {
            angular.extend($scope, {
                london: {
                    lat: 51.505,
                    lon: -0.09,
                    zoom: 4
                }
            });
       }]);
    </script>
  </head>
  <body ng-controller="DemoController">
    <openlayers ol-center="london" height="400"></openlayers>
    <h1>Center map example</h1>
    <form>
        Latitude : <input type="number" step="any" ng-model="london.lat" />
        Longitude : <input type="number" step="any" ng-model="london.lon" />
        Zoom : <input type="number" step="any" ng-model="london.zoom" />
    </form>
    <h2>Center object</h2>
    <pre>{{ london | json }}</pre>
  </body>
</html>
