<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/openlayers3/build/ol.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../dist/angular-openlayers-directive.js"></script>
    <link rel="stylesheet" href="../bower_components/openlayers3/build/ol.css" />
    <script>
        var app = angular.module("demoapp", ["openlayers-directive"]);
        app.controller("DemoController", [ "$scope", "olHelpers", function($scope, olHelpers) {
            angular.extend($scope, {
                offset: 0,
                cairo: {
                    lat: 30.0047,
                    lon: 31.2586,
                    zoom: 10,
                    bounds: []
                }
            });

            $scope.$watch("offset", function(offset) {
                $scope.cairo.bounds[0] += parseFloat(offset, 10);
                $scope.cairo.bounds[1] += parseFloat(offset, 10);
                $scope.cairo.bounds[2] -= parseFloat(offset, 10);
                $scope.cairo.bounds[3] -= parseFloat(offset, 10);
            });
        }]);
    </script>
  </head>
  <body ng-controller="DemoController">
    <openlayers ol-center="cairo" height="400px"></openlayers>
    <h1>Map bounds example</h1>
    <p>We can define a <strong>bounds</strong> property inside our center object and it will be filled with the maximum extent of the map.</p>
    <h2>Center</h2>
    Latitude : <input type="number" step="any" ng-model="cairo.lat" />
    Longitude : <input type="number" step="any" ng-model="cairo.lon" />
    Zoom : <input type="number" step="any" ng-model="cairo.zoom" />
    <h2>Center object</h2>
    <pre>
        {{ cairo | json }}
    </pre>
  </body>
</html>
