<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/openlayers3/build/ol.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../dist/angular-openlayers-directive.js"></script>
    <link rel="stylesheet" href="../bower_components/openlayers3/build/ol.css" />
    <script>
        var app = angular.module("demoapp", ["openlayers-directive"]);
        app.controller('DemoController', [ '$scope', function($scope) {
            angular.extend($scope, {
                quebec: {
                    lat: 46.823,
                    lon: -71.205,
                    zoom: 3
                },
                mapquest: {
                    source: {
                        type: 'MapQuest',
                        layer: 'sat'
                    }
                }
            });
        } ]);
    </script>
  </head>
  <body ng-controller="DemoController">
    <openlayers ol-center="quebec" custom-layers="true" height="400px">
        <ol-layer ol-layer-properties="mapquest"></ol-layer>
    </openlayers>

    <h1>MapQuest Layer</h1>
    <p>This map uses a MapQuest source.</p>

    <ul>
        <li style="display: inline" ng-repeat="layer in [ 'sat', 'osm', 'hyb' ]">
            <button ng-click="mapquest.source.layer=layer" class="btn btn-default" ng-bind="layer"></button>
        </li>
    </ul>

    <p>Current TileLayer Url:
        <pre>{{ layers | json }}</pre>
    </p>
  </div>

  </body>
</html>
