<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/openlayers3/build/ol.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../dist/angular-openlayers-directive.js"></script>
    <link rel="stylesheet" href="../bower_components/openlayers3/build/ol.css" />
    <script>
      var app = angular.module("demoapp", ["openlayers-directive"]);
      app.controller("GeoJSONController", [ '$scope', '$http', 'olData', function($scope, $http, olData) {
        angular.extend($scope, {
            europe: {
                lat: 39.2,
                lon: -1.27,
                zoom: 5
            },
            spain: {
                source: {
                    type: 'GeoJSON',
                    url: 'json/ESP.geo.json'
                },
                style: {
                    fill: {
                        color: '#FF0000'
                    },
                    stroke: {
                        color: '#FFFFFF',
                        width: 3
                    }
                }
            }
        });

      } ]);
      </script>
  </head>
  <body ng-controller="GeoJSONController">
     <openlayers ol-center="europe"  height="400px">
         <ol-layer ol-layer-properties="spain"></ol-layer>
     </openlayers>
     <h1>Layers GeoJSON change style</h1>
     <p>Stroke color: <input type="color" ng-model="spain.style.stroke.color">
     <p>Stroke width: <input type="range" min="0" max="20" value="3" ng-model="spain.style.stroke.width">
     <p>Fill color: <input type="color" ng-model="spain.style.fill.color">
  </body>
</html>
