<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/openlayers3/build/ol.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../dist/angular-openlayers-directive.js"></script>
    <link rel="stylesheet" href="../bower_components/openlayers3/build/ol.css" />
    <script>
      var app = angular.module("demoapp", ["openlayers-directive"]);
      app.controller("GeoJSONController", [ '$scope', '$http', 'olData', function($scope, $http, olData) {
        angular.extend($scope, {
            europe: {
                lat: 43.88,
                lon: 7.57,
                zoom: 3
            },
            layers: [
                {
                    name: 'Mapbox',
                    active: true,
                    opacity: 0.5,
                    source: {
                        type: 'TileJSON',
                        url: 'http://api.tiles.mapbox.com/v3/mapbox.geography-class.jsonp'
                    }
                },
                {
                    name: 'Bing',
                    active: true,
                    opacity: 0.5,
                    source: {
                        type: 'BingMaps',
                        key: 'Aj6XtE1Q1rIvehmjn2Rh1LR2qvMGZ-8vPS9Hn3jCeUiToM77JFnf-kFRzyMELDol',
                        imagerySet: 'Road'
                    }
                },
                {
                    name: 'TopoJSON',
                    active: false,
                    source: {
                        type: 'TopoJSON',
                        url: 'json/world.topo.json'
                    },
                    style: {
                        fill: {
                            color: 'rgba(255, 0, 0, 0.6)'
                        },
                        stroke: {
                            color: 'white',
                            width: 3
                        }
                    }
                }
            ]
        });

      } ]);
      </script>
  </head>
  <body ng-controller="GeoJSONController">
     <openlayers ol-center="europe" custom-layers="true" height="400px">
         <ol-layer ol-layer-properties="layer" ng-repeat="layer in layers|filter:{active:true}"></ol-layer>
     </openlayers>
     <h1>Adding/removing layers example</h1>

    <form>
        <div ng-repeat="layer in layers">
            <input type="checkbox" ng-model="layer.active" />
            {{ layer.name }}
            <input type="range" min="0" max="1" step="0.01" ng-model="layer.opacity">
            <input type="button" ng-if="layer.source.type === 'BingMaps'" value="Road Map" ng-click="layer.source.imagerySet='Road'" />
            <input type="button" ng-if="layer.source.type === 'BingMaps'" value="Aerial Map" ng-click="layer.source.imagerySet='Aerial'" />
        </div>
    </form>
  </body>
</html>
