<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/openlayers3/build/ol.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../dist/angular-openlayers-directive.js"></script>
    <link rel="stylesheet" href="../bower_components/openlayers3/build/ol.css" />
    <link rel="stylesheet" href="../dist/angular-openlayers-directive.css" />
    <script>
        var app = angular.module("demoapp", ["openlayers-directive"]);
        app.controller("DemoController", [ '$scope', function($scope) {

            angular.extend($scope, {
                center: {
                    lat: 42.9515,
                    lon: -8.6619,
                    zoom: 9
                },
                finisterre: {
                    lat: 42.907800500000000000,
                    lon: -9.265031499999964000,
                    label: {
                        message: 'Finisterre',
                        show: true,
                        showOnMouseOver: true
                    },
                    draggable: false
                },
                santiago: {
                    lat: 42.880596200000010000,
                    lon: -8.544641200000001000,
                    label: {
                        message: 'Santiago de Compostela',
                        show: true,
                        showOnMouseOver: true
                    },
                    draggable: true
                }
            });
        } ]);

    </script>
  </head>
  <body ng-controller="DemoController">
      <openlayers ol-center="center" height="400px" width="100%">
          <ol-marker ol-marker-properties="santiago" ></ol-marker>
          <ol-marker ol-marker-properties="finisterre" ></ol-marker>
      </openlayers>
      <h1>Markers label example</h1>
      <p>You can interact with the marker properties to modify its behaviour.</p>
      <h2>Santiago de Compostela</h2>
      Message: <input type="input" style="width: 300px;" ng-model="santiago.label.message" />
      <input type="checkbox" ng-model="santiago.label.show" /> Label show
      <input type="checkbox" ng-model="santiago.label.showOnMouseOver" /> Label show on marker mouse over
      <input type="checkbox" ng-model="santiago.draggable" /> Draggable
      <p>Lat: <input type="number" ng-model="santiago.lat" />, Lon: <input type="number" ng-model="santiago.lon" /></p>
      <pre ng-bind="santiago | json"></pre>
      <h2>Finisterre</h2>
      Message: <input type="input" style="width: 300px;" ng-model="finisterre.label.message" />
      <input type="checkbox" ng-model="finisterre.label.show" /> Label show
      <input type="checkbox" ng-model="finisterre.label.showOnMouseOver" /> Label show on marker mouse over
      <input type="checkbox" ng-model="finisterre.draggable" /> Draggable
      <p>Lat: <input type="number" ng-model="finisterre.lat" />, Lon: <input type="number" ng-model="finisterre.lon" /></p>
      <pre ng-bind="finisterre | json"></pre>

  </body>
</html>
