<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/openlayers3/build/ol.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../dist/angular-openlayers-directive.js"></script>
    <link rel="stylesheet" href="../bower_components/openlayers3/build/ol.css" />
    <link rel="stylesheet" href="../dist/angular-openlayers-directive.css" />
    <style>
        .popup-label {
            padding: 1px;
            margin: 0;
        }
        .popup-label img {
            border-radius: 4px;
            padding: 0;
            margin: 0;
        }
    </style>
    <script>
        var app = angular.module("demoapp", ["openlayers-directive"]);
        app.controller("DemoController", [ '$scope', function($scope) {

            angular.extend($scope, {
                center: {
                    lat: 48.828093,
                    lon: 2.294694,
                    zoom: 11
                },
                eiffel: {
                    lat: 48.858093,
                    lon: 2.294694,
                    label: {
                        message: '<img src="images/eiffel.jpg" />',
                        show: false,
                        showOnMouseOver: true
                    }
                },
                notredame: {
                    lat: 48.852966,
                    lon: 2.349902,
                    label: {
                        message: '<img src="images/notredame.jpg" />',
                        show: false,
                        showOnMouseOver: true
                    }
                },
                versailles: {
                    lat: 48.804722,
                    lon: 2.121782,
                    label: {
                        message: '<img src="images/versailles.jpg" />',
                        show: false,
                        showOnMouseOver: true
                    }
                }
            });

            $scope.centerAndShow = function(id) {
                if (!$scope[id].label.show) {
                    $scope.center.lat = $scope[id].lat;
                    $scope.center.lon = $scope[id].lon;
                }
                $scope[id].label.show = !$scope[id].label.show
            };

        } ]);

    </script>
  </head>
  <body ng-controller="DemoController">
      <openlayers ol-center="center" height="400px" width="100%">
          <ol-marker ol-marker-properties="eiffel" ></ol-marker>
          <ol-marker ol-marker-properties="notredame" ></ol-marker>
          <ol-marker ol-marker-properties="versailles" ></ol-marker>
      </openlayers>
      <h1>Render HTML inside a marker label</h1>
      <p>Mouse over the markers to show an image associated with each one.</p>
      <input type="button" ng-click="centerAndShow('eiffel')" value="Eiffel Tower" />
      <input type="button" ng-click="centerAndShow('notredame')" value="Notre Dame de Paris" />
      <input type="button" ng-click="centerAndShow('versailles')" value="Palace of Versailles" />
  </body>
</html>
